h1 {
   color: white;
   font-style: italic;
   font-family: 'Playfair Display', serif;
}

html, body {
   height: 100%;
   margin: 0; 
   padding: 0; 
   background: linear-gradient(to bottom right, #90EE90, #20B2AA);
   background-repeat: no-repeat;
   background-size: cover; 
}

.container {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
}

.content {
   flex-grow: 1; 
 
}

.form-container {
   margin-top: auto;
   margin-top: 20px;
   margin-bottom: 20px;
}