<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h2>Input Some Text</h2>

    <form method="post">
        <input name="input_text" type="text" value="{{ input_text }}">
        <button>Submit</button>
    </form>

    {% if edited_text %}
        <h2>Output Text</h2>
        <p>{{ edited_text }}</p>
    {% endif %}

</body>
</html>